body {
  background-color:black;
}



a.nav-item.nav-link.main-link {
  margin-left: 10px;
  color: white;

}

a.nav-item.nav-link:hover {
  color:blueviolet;
}

.top-jumbo {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 25vh;
  margin-bottom: 1px;
  margin-top: 1px;
}

.about-text {
  /* display: flex; */
  /* align-items: flex-start; */
  /* margin-left: 200px; */
  position:relative;
}

h1.display-4 {
  margin-left: 15px;
}

img.mr-3.media.avatar {
  display: flex;
  /* flex-direction: row-reverse; */
  /* align-items: flex-end !important; */
  /* justify-content: flex-start; */
  /* height: contain; */
  /* padding: 5px; */
  /* height: 12vh; */
  /* margin-left: 0px; */
}

.main-project {
  display: flex;
  flex-direction: column;
  background-image: url("../images/jakes-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  text-decoration: none !important;
  height: 50vh;
  margin-bottom: 1px;
  margin-top: 1px;
}

.main-project h2 {
  padding: 0 ;
}

.mp-text {
  margin-top: 0;
  margin-bottom: 5px;
}

.main-project h2,
.main-project.mp-text {
  text-align: left;
  margin-bottom: 20px;
}
.main-project:hover {
  color: purple;
}

a:hover {
  text-decoration: none !important;
}

.card {
  border-radius: 30px;
  border-color: black;
  border-width: 3px;
  padding: 0px;
  color: black;
  text-decoration: none !important;
}
/* highlight card border on hover */
.card:hover {
  border-color: blueviolet;
  box-shadow: none !important;
}

.card1 {
  background-image: url("../images/screenshot_1.png");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

.card2 {
  background-image: url("../images/Horiseon2.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-radius: 30px;
  height: 60vh;
}

.card3 {
  background-image: url("../images/02-portfolio-3.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

.card4 {
  background-image: url("../images/02-portfolio-4.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

footer {
  margin-top: 1px;
  border: 2px !important  ;
  /* border-color: black; */
}
