body {
  background-color:black;
}


.jumbotron {
  height: 65vh;
  margin-bottom: 1px;
  margin-top: 1px;
  font-weight: bold !important;
  /* font-weight: 450 !important; */
}

.main-project {
  display: flex;
  flex-direction: column;
  background-image: url("../images/jakes-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.card {
  border-radius: 30px;
  padding: 5px;
  color: black;
  text-decoration: none !important;
}

.card1 {
  background-image: url("../images/screenshot_1.png");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

.card2 {
  background-image: url("../images/Horiseon.png");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

.card3 {
  background-image: url("../images/02-portfolio-3.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

.card4 {
  background-image: url("../images/02-portfolio-4.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 30px;
  height: 60vh;
}

footer {
  margin-top: 1px;
  border: 2px !important  ;
  /* border-color: black; */
}
